
<!-------Nav -------->
<nav class="navbar navbar-default " >
      <img class="logo"
      src="https://www.freepnglogos.com/uploads/apple-music-logo-circle-png-28.png" 
      > 
      
 </nav>

<!---- Images--->
<div class="back">
<div class="text-center">
    <h1> 
      <b>Hello, we're gtd.</b> </h1>
</div>

<div class="text-center">
  <img hspace="50"class="circle"
  src="https://cdn131.picsart.com/272027340029211.png?r1024x1024">
  <img  class="circle"                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f7f6f092-4694-414b-a011-0843fd20bfae/d6uli6k-cbac41aa-e194-4be9-a155-b9b949f0a4b4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y3ZjZmMDkyLTQ2OTQtNDE0Yi1hMDExLTA4NDNmZDIwYmZhZVwvZDZ1bGk2ay1jYmFjNDFhYS1lMTk0LTRiZTktYTE1NS1iOWI5NDlmMGE0YjQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ltdhgixUk2oCU3UZoWByUXczmGu72V2JnqIyxAZwSKQ">
  
  <img hspace="50"class="circle"      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5acd65e2-1fbc-4faa-a335-dae482f31f02/d6gexj2-6c15b82c-75b5-4ed9-8efe-67ed61badb4c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVhY2Q2NWUyLTFmYmMtNGZhYS1hMzM1LWRhZTQ4MmYzMWYwMlwvZDZnZXhqMi02YzE1YjgyYy03NWI1LTRlZDktOGVmZS02N2VkNjFiYWRiNGMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.z2H-DknhOxuKB47AVTdoQcULbZGxdBHM6AgZFaXT6Xo">
</div>
</div>

<!------ How it started Section ---->
<div class="container-fluid padding " >
<div class="row welcome text-center">
	<div class="col-12">
		<h2 class="how"> 
      <b>How it started </b></h2>
	</div>
	<div class="col-12">
		<p class="par"style=" ">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris n isi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in c ulpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
</div>

<!-----yellow line ---->
<div style="background-color:#E8BE02; height:12px"> </div>

<!-------- Footer ------>
<footer style=" ">

<div class="row text-center">
  <div class="col-md-3">
	<h4> Team </h4>	
    <p> Lisa </p>
		<p> Danielle </p>
		<p> Brian</p>
    <br>
    <p> Join us!</p>
	</div>
	<div class="col-md-3">
		<h4> Learn More </h4>
		<p> Manifesto</p>
		<p> Works</p>
		<p> Stories</p>
    </div>
	<div class="col-md-3">
		<h4> Meet Us  </h4>
		<p> Studio </p>
		<p> Community</p>
		<p>Workshops </p>
		
	</div>
  <div class="col-md-3">
		<h4> Contact</h4>
		<p> Twitter</p>
		<p> Facebook </p>
		<p> Instagram </p>
	</div>

</div>
</footer>