
<nav class="navbar navbar-default "  style="background-color: #4F4D53; height: 48px ">
  <div class="container-fluid ">
    <div class="navbar-header">
     <a class="navbar-brand" href="#"><img src="assets/gtd_logo.png" height="45px"></a>
     </div>
  </div>
</nav>

<img src="assets/img-hero.jpg">
<div class="center">
    <img src="assets/img_lisa_circle.png">
    <img src="assets/img_dannielle_circle.png">
    <img src="assets/img_brian_circle.png">
</div>

<div class="text-center">
    <h1 style="text-height: 100px; color:#4F4D53; font-style: Roboto Black "> <b>Hello we're gtd.</b> </h1>
</div>

<!------ Welcome Section ---->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h2  style="color: #E8BE02; font-style:Roboto Black; text-height: 64px "> <b>How it started </b></h2>
	</div>
	<hr>
	<div class="col-12">
		<p class="par"style="color: #4F4D53; font-style:Roboto Regular; text-height: 14px ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris n isi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in c ulpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
</div>


<div style="background-color:#E8BE02; height:12px"> </div>
  <!-------- Footer ------>
<footer style="background-color:#4F4D53; color: white; text-height: 20px; padding: 20px 35px 35px 35px; line-height: 0px; ">
<div class="container-fluid padding">
<div class="row text-center">

	<div class="col-md-3">
	<h4> Team </h4>	
    <p> Lisa </p>
		<p> Danielle </p>
		<p> Brian</p>
    <br>
    <p> Join us!</p>
	</div>
	<div class="col-md-3">
		<h4> Learn More </h4>
		<p> Manifesto</p>
		<p> Works</p>
		<p> Stories</p>
    </div>
	<div class="col-md-3">
		<h4> Meet Us  </h4>
		<p> Studio </p>
		<p> Community</p>
		<p>Workshops </p>
		
	</div>
  <div class="col-md-3">
		<h4> Contact</h4>
		<p> Twitter</p>
		<p> Facebook </p>
		<p> Instagram </p>
	</div>

</div>
</div>

</footer>